# npm
node_modules
package-lock.json

# vs code
./vscode
.vs

# react-build
frontend/build/static/bundle.js
frontend/build/static/*.bundle.js
frontned/build/static/js/**.*

# cypress
cypress/videos
cypress/screenshots

# music-app
.env
!frontend/.env
data

# Logging
logs/*

.DS_Store

# Istanbul Coverage
frontend/coverage/*

# electron
dist/**/*