# npm
node_modules
package-lock.json
reactnative/

# vs code
./vscode
.vs

# react-build
frontend/build/static/
frontend/build/static/*bundle.js*
frontned/build/static/js/**.*

# cypress
cypress/videos
cypress/screenshots

# music-app
.env
!frontend/.env
data
app.yaml

# Logging
logs/*

.DS_Store

# Istanbul Coverage
frontend/coverage/lcov-report
frontend/coverage/lcov.info

# electron
dist/**/*

# gcloud
app.yaml